<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add new restaurant</title>
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>
<div class="center-content">
    <h1>Add new restaurant</h1>
    <form method="post" action="#" th:action="@{/restaurateurPanel/save}" th:object="${restaurant}">

        <h2>Name: <input type="text" th:field="*{name}"/></h2>
        <h5 th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></h5>
        <h3>Address:</h3>
        <p>Street: <input type="text" th:field="*{street}"/></p>
        <h5 th:if="${#fields.hasErrors('street')}" th:errors="*{street}"></h5>
        <p>City: <input type="text" th:field="*{city}"/></p>
        <h5 th:if="${#fields.hasErrors('city')}" th:errors="*{city}"></h5>
        <p>Post code: <input type="text" th:field="*{postCode}"/></p>
        <h5 th:if="${#fields.hasErrors('postCode')}" th:errors="*{postCode}"></h5>
        <p>Genre:<select th:field="*{genre}">
                <option value="">SELECT</option>
                <option th:each="g : ${genre}" th:value="${g}" th:utext="${g.getDescription()}"></option></select>
        <h5 th:if="${#fields.hasErrors('genre')}" th:errors="*{genre}"></h5></p>
        <p>Open: <input type="time" th:field="*{openTime}"/></p>
        <h5 th:if="${#fields.hasErrors('openTime')}" th:errors="*{openTime}"></h5>
        <p>Close: <input type="time" th:field="*{closeTime}"/></p>
        <h5 th:if="${#fields.hasErrors('closeTime')}" th:errors="*{closeTime}"></h5>
        <h5 th:if="${#fields.hasGlobalErrors()}"
            th:each="error : ${#fields.errors('global')}"
            th:text="${error}"></h5>
        <p>Web site: <input type="text" th:field="*{url}"/></p>
        <h5 th:if="${#fields.hasErrors('url')}" th:errors="*{url}"></h5>
        <p>Email: <input type="text" th:field="*{email}"/></p>
        <h5 th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></h5>
        <p>Phone: <input type="text" th:field="*{phoneNumber}"/></p>
        <h5 th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}"></h5>

        <p>Estimated minutes for one reservation: <input type="number" th:field="*{defaultMinutesForReservation}"/></p>
        <h5 th:errors="*{defaultMinutesForReservation}"></h5>

        <p>How much minutes needed to prepare table: <input type="number" th:field="*{minutesBetweenReservations}"/></p>
        <h5 th:errors="*{minutesBetweenReservations}"></h5>

        <p>Minimum minutes for reservation: <input type="number" th:field="*{minimumMinutesForReservation}"/></p>
        <h5 th:errores="*{minimumMinutesForReservation}"></h5>

        <p>Minimum places at table: <input type="number" th:field="*{minPlaces}"></p>
        <h5 th:errors="*{minPlaces}"></h5>

        <p>Maximum places at table: <input type="number" th:field="*{maxPlaces}"></p>
        <h5 th:errores="*{maxPlaces}"></h5>

        <p><input type="submit" value="Zapisz"></p>
    </form>
    <p><a th:href="@{/restaurateurPanel}"/>Main menu</p>
</div>
</body>
</html>