<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Make a reservation</title>
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>
<div class="center-content">
    <form action="#" method="post" th:action="@{/firstValidation}" th:object="${reservation}">

        <p>Name: <input type="text" th:field="*{name}" placeholder="Enter your name"></p>
        <h5 th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Reservation name error</h5>

        <p>Number of persons: <input type="number" th:field="*{numberOfPersons}"></p>
        <h5 th:if="${#fields.hasErrors('numberOfPersons')}" th:errors="*{numberOfPersons}">Number of persons error</h5>

        <p>Phone number: <input type="text" th:field="*{phoneNumber}"></p>
        <h5 th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}">Phone number error</h5>

        <p>Notes: <textarea th:field="*{notes}"></textarea></p>
        <h5 th:if="${#fields.hasErrors('notes')}" th:errors="*{notes}">Notes error</h5>


        <p>Date and time: <input type="datetime-local" th:field="*{dateTime}"></p>
        <h5 th:if="${#fields.hasErrors('dateTime')}" th:errors="*{dateTime}">Date or time error</h5>
        <h5 th:if="${#fields.hasGlobalErrors()}"
            th:each="error : ${#fields.errors('global')}"
            th:text="|${error} (${reservation.getRestaurant().getOpenTime()} - ${reservation.getRestaurant().getCloseTime()})|"></h5>

        <div>
            <div th:if="${restaurant} != null">
                <input type="hidden" th:field="*{restaurant}">
                <p th:text="|Choosen restaurant: ${restaurant.name}|"></p></div>
            <div th:if="${restaurant} == null"><p>Restaurant:<select th:field="*{restaurant}">
                <option value="">SELECT</option>
                <option th:each="restaurant : ${allRestaurants}" th:value="${restaurant.id}" th:utext="${restaurant.getName()}"></option>
                </select></p>
                <h5 th:if="${#fields.hasErrors('restaurant')}" th:errors="*{restaurant}">Choose a restaurant</h5>
            </div>
        </div>

        <p><input type="submit" value="Reserve"></p>
    </form>
    <p><a th:href="@{/mainMenu}">Main menu</a></p>
</div>
</body>
</html>