<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Reservation not possible</title>
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>
<div class="center-content" th:object="${reservation}">
    <h1>We are sorry!</h1><br>
    <h2 th:text="|Your reservation for name *{name} is not possible in restaurant *{restaurant.getName()}|"></h2><br>
    <h2 th:text="|Reason: ${reason.toString()}|"></h2>
    <p>Try to find in other restaurants: <a th:href="@{/showAllRestaurants}">Link</a></p>
    <p><a th:href="@{/}">Main menu</a></p>
</div>
</body>
</html>