<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>BookT</title>
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>
<div class="center-content">
    <h1>Welcome to BookT!</h1>
    <h2><a href="#" th:href="@{/mainMenu}">Login</a></h2><br>
    <h2><a href="#" th:href="@{/register}">Register</a></h2>
</div>
<div>
    <p>User credentials: user@user.com, password: userPassword</p>
    <p>Restaurateur credentials: restaurant@podfreda.com, password: restaurateurPassword</p>
    <p>Restaurateur credentials: restaurant@ck.com, password: restaurateurPassword</p>
    <p>Admin credentials: admin@admin.com, password: adminPassword</p>
</div>
</body>
</html>