<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration Form</title>
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>
<div class="center-content">
    <h1>Registration Form</h1>
    <form action="#" method="post" th:action="@{/register}" th:object="${user}">
        <input th:field="*{firstName}" placeholder="First Name"><br>
        <input th:field="*{lastName}" placeholder="Last Name"><br>
        <input th:field="*{email}" type="email" placeholder="Email"><br>
        <p th:errors="*{email}">Email Errors</p>
        <input th:field="*{password}" type="password" placeholder="Password"><br>
        <p th:errors="*{password}">Password Errors</p>
        <input type="submit" value="Register">
    </form>
</div>
</body>
</html>