<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All schema reservedTables</title>
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>
<div class="center-content">
    <h1>Tables in restaurant</h1>
    <table>
        <tr>
            <th>Number</th>
            <th>Places</th>
            <th colspan="2">Actions</th>
        </tr>
        <tr th:each="schemaTable : ${schemaTables}">
            <td th:text="*{schemaTable.tableNumber}"/>
            <td th:text="*{schemaTable.places}"/>
            <td><a th:href="@{/restaurateurPanel/editSchemaTableId(schemaTableId=*{schemaTable.id})}">Edit</a></td>
            <td><a th:href="@{/restaurateurPanel/deleteSchemaTable(schemaTableId=*{schemaTable.id})}">Delete</a></td>
        </tr>
    </table>
    <p><a th:href="@{/restaurateurPanel/addNewSchemaTable(restaurantId=${restaurantId})}">Add table</a></p>
    <p><a th:href="@{/restaurateurPanel/showAllRestaurants}">Main menu</a></p>
</div>
</body>
</html>