<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All schema reservedTables</title>
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>
<div class="center-content">
    <h1 th:text="|Menu from ${restaurant.name}|"></h1>
    <table>
        <tr>
            <th>Name</th>
            <th>Price</th>
        </tr>
        <tr th:each="meal : ${meals}">
            <td th:text="*{meal.name}"/>
            <td th:text="*{meal.price}"/>
        </tr>
    </table>
    <p><a th:href="@{/showAllRestaurants}">Back</a></p>
</div>

</body>
</html>