<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>All schema reservedTables</title>
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>
<div class="center-content">
    <h1 th:text="|Menu ${restaurantName}|"></h1>
    <table>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <div sec:authorize="hasRole('ROLE_RESTAURATEUR') or hasRole('ROLE_ADMIN')"><th colspan="2">Action</th></div>
        </tr>
        <tr th:each="meal : ${meals}">
            <td th:text="*{meal.name}"/>
            <td th:text="*{meal.price}"/>
            <div sec:authorize="hasRole('ROLE_RESTAURATEUR') or hasRole('ROLE_ADMIN')"><td><a th:href="@{restaurateurPanel/mealForm(mealId=${meal.id}, restaurantId=${restaurantId})}">Edit</a></td></div>
            <div sec:authorize="hasRole('ROLE_RESTAURATEUR') or hasRole('ROLE_ADMIN')"><td><a th:href="@{restaurateurPanel/deleteMeal(mealId=${meal.id}, restaurantId=${restaurantId})}">Delete</a></td></div>
        </tr>
    </table>
    <div sec:authorize="hasRole('ROLE_RESTAURATEUR') or hasRole('ROLE_ADMIN')"><p><a th:href="@{/restaurateurPanel/mealForm(restaurantId=${restaurantId})}">Add</a></p></div>
    <div sec:authorize="hasRole('ROLE_USER')"><p><a th:href="@{/showAllRestaurants}">Back</a></p></div>
    <div sec:authorize="hasRole('ROLE_RESTAURATEUR') or hasRole('ROLE_ADMIN')"><p><a th:href="@{/restaurateurPanel/showAllRestaurants}">Back</a></p></div>
</div>
</body>
</html>