<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>All restaurants</title>
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>
<div class="center-content">
    <table>
        <tr>
            <th>Name</th>
            <th>Genre</th>
            <th>Street</th>
            <th>City</th>
            <th>Post code</th>
            <th>Url</th>
            <th>Open</th>
            <th>Close</th>
            <th>Phone number</th>
            <div sec:authorize="hasRole('ROLE_USER')"><th>Make a reservation</th></div>
            <div sec:authorize="hasRole('ROLE_RESTAURATEUR')"><th>Add table</th></div>
            <div sec:authorize="hasRole('ROLE_RESTAURATEUR')"><th>Tables</th></div>
        </tr>
        <tr th:each="restaurant : ${allRestaurants}">
            <td th:text="*{restaurant.name}"></td>
            <td th:text="*{restaurant.genre.description}"></td>
            <td th:text="*{restaurant.street}"></td>
            <td th:text="*{restaurant.city}"></td>
            <td th:text="*{restaurant.postCode}"></td>
            <td th:text="*{restaurant.url}"></td>
            <td th:text="*{restaurant.openTime}"></td>
            <td th:text="*{restaurant.closeTime}"></td>
            <td th:text="*{restaurant.phoneNumber}"></td>
            <div sec:authorize="hasRole('ROLE_USER')"><td><a th:href="@{/askForReservation(restaurantId=${restaurant.id})}">Reserve</a></td></div>
            <div sec:authorize="hasRole('ROLE_RESTAURATEUR')"><td><a th:href="@{/addNewTableSchema(restaurantId=${restaurant.id})}">Add</a></td></div>
            <div sec:authorize="hasRole('ROLE_RESTAURATEUR')"><td><a th:href="@{/showSchemaTables(restaurantId=${restaurant.id})}">Show</a></td></div>
        </tr>
    </table>
    <div sec:authorize="hasRole('ROLE_USER')"><p><a th:href="@{/mainMenu}">Main menu</a></p></div>
    <div sec:authorize="hasRole('ROLE_ADMIN')"><p><a th:href="@{/admin}">Main menu</a></p></div>
</div>
</body>
</html>