<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All schema tables</title>
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>
<div class="center-content">
    <h1>Tables in restaurant</h1>
    <table>
        <tr>
            <th>Number</th>
            <th>Places</th>
        </tr>
        <tr th:each="table : ${schemaTables}">
            <td th:text="*{table.number}"/>
            <td th:text="*{table.places}"/>
        </tr>
    </table>
    <p><a th:href="@{/}">Main menu</a></p>
</div>
</body>
</html>