<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All restaurants</title>
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>
<div class="center-content">
    <table>
        <tr>
            <th>Name</th>
            <th>Genre</th>
            <th>Street</th>
            <th>City</th>
            <th>Post code</th>
            <th>Url</th>
            <th>Open</th>
            <th>Close</th>
            <th>Phone number</th>
            <th>Add table</th>
            <th>Tables</th>
        </tr>
        <tr th:each="restaurant : ${allRestaurants}">
            <td th:text="*{restaurant.name}"></td>
            <td th:text="*{restaurant.genre.description}"></td>
            <td th:text="*{restaurant.street}"></td>
            <td th:text="*{restaurant.city}"></td>
            <td th:text="*{restaurant.postCode}"></td>
            <td th:text="*{restaurant.url}"></td>
            <td th:text="*{restaurant.openTime}"></td>
            <td th:text="*{restaurant.closeTime}"></td>
            <td th:text="*{restaurant.phoneNumber}"></td>
            <td><a th:href="@{/addNewTableSchema(restaurantId=${restaurant.id})}">Add</a></td>
            <td><a th:href="@{/showSchemaTables(restaurantId=${restaurant.id})}">Show</a></td>
        </tr>
    </table>
    <p><a th:href="@{/}">Main menu</a></p>
</div>
</body>
</html>